bash/bashrc.d/*
!bash/bashrc.d/aliases.bash
!bash/bashrc.d/cd.bash
!bash/bashrc.d/completion.bash
!bash/bashrc.d/ed.bash
!bash/bashrc.d/grep.bash
!bash/bashrc.d/ls.bash
!bash/bashrc.d/options.bash
!bash/bashrc.d/prompt.bash
!bash/bashrc.d/pushd.bash
!bash/bashrc.d/sprunge.bash
!bash/bashrc.d/ssh.bash
!bash/bashrc.d/tmux.bash
gnupg/*
!gnupg/*.conf
mutt/muttrc.alternates
mutt/signature.*
newsbeuter/urls
sh/profile.d/*
!sh/profile.d/browser.sh
!sh/profile.d/keychain.sh
!sh/profile.d/timezone.sh
urxvt/urxvtd-*
vim/.netrwhist
vim/spell/*
vim/backup/*
vim/swap/*
vim/undo/*
